#breadcrumbs {
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: inline-flex;

        li {
            padding: 5px 10px;
            background: #fff;
        }
    }
    a {
        text-decoration: none;
        color: #6B6B6B;
    }
    .active {
        color: #000;
    }
}