#header-arquitetura, #main-arquitetura {
    .bg-primary {
        background-color: #6FADDB !important;
    }

    header {
        border-radius: 5px 5px 0 0;
        cursor: pointer;
        position: relative;
        user-select: none;
        z-index: 1;

        .btn-success {
            background-color: #4CAE4C;
            border-color: #4CAE4C;
            position: absolute;
            right: 0;
            top: 0;
        }
    }

    footer {
        background-color: #DDDDE3;
        border-radius: 0 0 5px 5px;

        .btn-outline-secondary {
            background-color: #F8F8F9;
            color: #000;
        }

        .btn-primary {
            background-color: #337AB7;
            border-color: #337AB7;
        }
    }

    .btn {
        &:hover {
            transition-duration: 0.3s;
            filter: contrast(0.9);
        }
    }
}

#header-arquitetura.close {
    header {
        border-radius: 5px;
    }
    section, footer {
        display: none !important;
    }
}

#main-arquitetura {
    section {
        border-radius: 0 0 5px 5px;
    }
}

@media only screen and (max-width: 767px) {
    #main-arquitetura section {
        overflow-x: scroll;
    }

    #main-arquitetura label {
        width: 100%;
        text-align: left;
    }
}