body {
    background-color: #EEEEF4 !important;
}

button.install-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    position: absolute;
    z-index: 99999;
    width: 95%;
    margin: 0px 2.5% 20px 2.5%;
    bottom: 0px;
}

.accordion-button:focus {
    box-shadow: none !important
}

.block-select {
    user-select: none;
}

.status-welcome {
    font-size: 4rem;
    font-weight: 400;
    line-height: 3rem;
    text-align: end;
    display: block;
    margin: 10px 5px;
}