.form-label {
    min-width: 250px;
    text-align: end;

    @media only screen and (max-width: 767px) {
        min-width: inherit;
    }
}

.choices {
    margin-bottom: 0px;
    color: #212529 !important;

    .form-control {
        height: 38px auto;
    }

    .choices__list--single {
        padding: 0px;
    }
}

.choices__placeholder {
    color: #212529 !important;
}

.input-outline-none {
    outline: none !important;
}

.campo-select {
    width: 100%;
    min-width: 100%;
}

.campo-select-full {
    width: 100% !important;
    min-width: 100% !important;
}

.espaco-de-texto {
    position: relative;

    .limite {
        font-size: small;
        font-style: italic;
        position: absolute;
        right: 0;
    }
}

.secao-de-formulario {
    border: #212529 solid 0.5px;
    border-radius: 5px;

    h3 {
        font-size: 1.2rem;
        margin-bottom: 0;
        cursor: pointer;
        font-weight: 500;
    }
}

.hide-info {
    display: none !important;
}

.hide-aeic {
    display: none !important;
}