#main-header {
    background-image: url('../assets/images/background-header.png');
    background-size: cover;

    @media only screen and (max-width: 767px) {
        position: sticky;
        top: 0;
        z-index: 2;
    }
}

@media only screen 
    and (device-width: 390px) 
    and (device-height: 844px) 
    and (-webkit-device-pixel-ratio: 3)
    and (orientation: portrait) {
    /* Estilos específicos para o iPhone 12 Pro na orientação retrato */
    /* Insira seu código CSS aqui */

    #main-header img {
        width: 60px;
    }

    #main-header .ms-auto {
        width: 130px;
    }
}

@media only screen 
    and (device-width: 844px) 
    and (device-height: 390px) 
    and (-webkit-device-pixel-ratio: 3)
    and (orientation: landscape) {
    /* Estilos específicos para o iPhone 12 Pro na orientação paisagem */
    /* Insira seu código CSS aqui */


}

@media only screen and (max-width: 767px) {
    #main-header img {
        width: 60px;
    }

    #main-header .ms-auto {
        width: 130px;
    }
}

@media only screen and (max-width: 767px) {
    #header-arquitetura #header-caixa-arquitetura {
        padding-top: 31px !important;
    }
}