.bg-primary {
    background-color: #0072C6 !important;
}

#navbar {
    a {
        color: #fff;
        text-decoration: none;

        &:hover {
            transition-duration: 0.5s;
            opacity: 0.5;
        }
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;

        li {
            margin-right: 20px;
            padding: 5px 0;
        }
    }

    #btn-logout {
        margin-right: 0px;
        cursor: pointer;
    }

    .dropbtn {
        background-color: rgba(0,0,0,0);
        border: none;
        color: #fff;
        height: 100%;
        padding: 0px;
    }

    .dropdown {
        position: relative;
        display: inline-block;
        //margin-right: 0px !important;

        ul {
            display: block;            
        }
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #0072c6;
        min-width: 160px;
        //box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 4;
        padding: 5px;
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }

    .desativado {
        opacity: 0.5;
        cursor: not-allowed;
    }

    .desativado:hover {
        .dropdown-content {
            padding: 0px;
        }
    }
}

@media only screen 
    and (device-width: 390px) 
    and (device-height: 844px) 
    and (-webkit-device-pixel-ratio: 3)
    and (orientation: portrait) {
    /* Estilos específicos para o iPhone 12 Pro na orientação retrato */
    /* Insira seu código CSS aqui */

    #menu-desktop {
        display: none !important;
    }

    #menu-toggle {
        /* Estilos do ícone do menu */
        cursor: pointer;
    }

    #menu-mobile {
        position: fixed;
        top: 0;
        left: -100%;
        width: 75%; /* Ajuste a largura conforme necessário */
        height: 100%;
        background-color: #0072c6;
        transition: left 0.3s ease;

        ul {
            display: block;

            li {
                display: block;
                width: 100%;
            }
        }

    }

    .dropdown-content {
        display: none !important;
        position: inherit !important;
    }
      
    .dropdown-content.show {
        display: block !important;
    }

    #menu-mobile.show {
        /* Estilos quando o menu mobile estiver visível */
        left: 0;
        transition-delay: 0s; /* Sem delay na transição */
    }

    #menu-hide-area {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        width: 25%; /* Ajuste a largura conforme necessário */
        background-color: rgba(0, 0, 0, 0.5); /* Cor e transparência de fundo */
        z-index: 999; /* Ajuste o índice z conforme necessário */
        opacity: 0; /* Começa oculto */
        transition: opacity 0.3s ease;
    }
      
    #menu-mobile.show + #menu-hide-area {
        opacity: 1; /* Exibe com transição de opacidade */
        transition-delay: 0.3s; /* Delay para sincronizar com a transição do menu */
    }
    
}

@media only screen 
    and (device-width: 844px) 
    and (device-height: 390px) 
    and (-webkit-device-pixel-ratio: 3)
    and (orientation: landscape) {
    /* Estilos específicos para o iPhone 12 Pro na orientação paisagem */
    /* Insira seu código CSS aqui */

    
}


@media only screen and (max-width: 767px) {
    #menu-desktop {
        display: none !important;
    }

    #menu-toggle {
        /* Estilos do ícone do menu */
        cursor: pointer;
    }

    #menu-mobile {
        position: fixed;
        top: 0;
        left: -100%;
        width: 75%; /* Ajuste a largura conforme necessário */
        height: 100%;
        background-color: #0072c6;
        transition: left 0.3s ease;
        z-index: 3;

        ul {
            display: block;

            li {
                display: block;
                width: 100%;
            }
        }

    }

    .dropdown-content {
        display: none !important;
        position: inherit !important;
    }
      
    .dropdown-content.show {
        display: block !important;
    }

    #menu-mobile.show {
        /* Estilos quando o menu mobile estiver visível */
        left: 0;
        transition-delay: 0s; /* Sem delay na transição */
    }

    #menu-hide-area {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        width: 100%; /* Ajuste a largura conforme necessário */
        background-color: rgba(0, 0, 0, 0.5); /* Cor e transparência de fundo */
        z-index: 2; /* Ajuste o índice z conforme necessário */
        opacity: 0; /* Começa oculto */
        transition: opacity 0.3s ease;
        display: none; 
    }
      
    #menu-mobile.show + #menu-hide-area {
        opacity: 1; /* Exibe com transição de opacidade */
        transition-delay: 0.3s; /* Delay para sincronizar com a transição do menu */
        display: block;
    }
}

#faq {
    font-weight: bolder;
    color: gold !important;
}