#table-title {
    background-color: #f5f5f5;
    color: #6B6B6B;
    
    th {
        font-weight: 400;
        border-bottom: #6B6B6B solid 1px;
        border-right: #6B6B6B solid 1px;
    }

    //th, td {
        //width: 100%;
    //}

    .last {
        border-right: none;
        height: 100%;
        border-bottom: #6B6B6B solid 1px;
    }

    td:first-child,
    th:first-child {
        max-width: 140px;
    }

    /*td:nth-child(2),
    th:nth-child(2) {
        width: 200px;
    }*/

    .col-sap {
        min-width: 120px;
    }

    .descricoes {
        //max-width: 180px !important;
        min-width: 350px !important;
    }

    .obs {
        min-width: 101px !important;
    }

    /*
    td:last-child,
    th:last-child {
        width: 100px;
        //float: right;
        text-align: center;
    }
    */
}

.even-line {
    background-color: #F2F2F2;
    border-color: #F2F2F2;
}

#table-list {

    tr {
        position: relative;
    }

    td {
        vertical-align: top;
    }

    .actions {
        min-width: 100px;
        //float: right;
        text-align: center;
        //display: table-cell;
        vertical-align: middle;
    }
    
    .actions, a {
        align-items: center;
        color: #025490;
        text-decoration: none;

        i {
            cursor: pointer;
        }
    }

}