#breadcrumbs ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: inline-flex;
}
#breadcrumbs ul li {
  padding: 5px 10px;
  background: #fff;
}
#breadcrumbs a {
  text-decoration: none;
  color: #6B6B6B;
}
#breadcrumbs .active {
  color: #000;
}

/*# sourceMappingURL=breadcrumbs.css.map */
