#header-arquitetura .bg-primary, #main-arquitetura .bg-primary {
  background-color: #6FADDB !important;
}
#header-arquitetura header, #main-arquitetura header {
  border-radius: 5px 5px 0 0;
  cursor: pointer;
  position: relative;
  user-select: none;
  z-index: 1;
}
#header-arquitetura header .btn-success, #main-arquitetura header .btn-success {
  background-color: #4CAE4C;
  border-color: #4CAE4C;
  position: absolute;
  right: 0;
  top: 0;
}
#header-arquitetura footer, #main-arquitetura footer {
  background-color: #DDDDE3;
  border-radius: 0 0 5px 5px;
}
#header-arquitetura footer .btn-outline-secondary, #main-arquitetura footer .btn-outline-secondary {
  background-color: #F8F8F9;
  color: #000;
}
#header-arquitetura footer .btn-primary, #main-arquitetura footer .btn-primary {
  background-color: #337AB7;
  border-color: #337AB7;
}
#header-arquitetura .btn:hover, #main-arquitetura .btn:hover {
  transition-duration: 0.3s;
  filter: contrast(0.9);
}

#header-arquitetura.close header {
  border-radius: 5px;
}
#header-arquitetura.close section, #header-arquitetura.close footer {
  display: none !important;
}

#main-arquitetura section {
  border-radius: 0 0 5px 5px;
}

@media only screen and (max-width: 767px) {
  #main-arquitetura section {
    overflow-x: scroll;
  }
  #main-arquitetura label {
    width: 100%;
    text-align: left;
  }
}

/*# sourceMappingURL=caixa-arquitetura.css.map */
