body {
  background-color: #000;
  background-image: url("../../images/background-login.png");
  background-position: center top;
  background-size: 100% auto;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}
@media only screen and (max-width: 767px) {
  body {
    background-size: auto;
    background-repeat: no-repeat;
  }
}
body #box-login {
  max-width: 505px;
  min-width: 505px;
  border-radius: 5px;
}
@media only screen and (max-width: 767px) {
  body #box-login {
    max-width: 345px;
    min-width: 345px;
  }
}
body form label {
  min-width: 55px;
}

/*# sourceMappingURL=login.css.map */
