#table-title {
  background-color: #f5f5f5;
  color: #6B6B6B;
  /*td:nth-child(2),
  th:nth-child(2) {
      width: 200px;
  }*/
  /*
  td:last-child,
  th:last-child {
      width: 100px;
      //float: right;
      text-align: center;
  }
  */
}
#table-title th {
  font-weight: 400;
  border-bottom: #6B6B6B solid 1px;
  border-right: #6B6B6B solid 1px;
}
#table-title .last {
  border-right: none;
  height: 100%;
  border-bottom: #6B6B6B solid 1px;
}
#table-title td:first-child,
#table-title th:first-child {
  max-width: 140px;
}
#table-title .col-sap {
  min-width: 120px;
}
#table-title .descricoes {
  min-width: 350px !important;
}
#table-title .obs {
  min-width: 101px !important;
}

.even-line {
  background-color: #F2F2F2;
  border-color: #F2F2F2;
}

#table-list tr {
  position: relative;
}
#table-list td {
  vertical-align: top;
}
#table-list .actions {
  min-width: 100px;
  text-align: center;
  vertical-align: middle;
}
#table-list .actions, #table-list a {
  align-items: center;
  color: #025490;
  text-decoration: none;
}
#table-list .actions i, #table-list a i {
  cursor: pointer;
}

/*# sourceMappingURL=tables.css.map */
